@import "vars";
@import "normalize";
@import "reset";
@import "ui";

* {
    box-sizing: border-box;
    position: relative;
}

body {
    color: #575757;
    font-family: 'Courier New', Courier, Monospace;
    overflow: hidden;
}

.block { display: block; }
.tight { margin: 0; padding: 0; }
.no-list { list-style-type: none; }

.h100 {
    height: 100%;
}

.faded {
    opacity: 0;
}

.textarea {
    float: left;
    margin: 20px;
    height: 200px;
    width: 500px;
}